.project
.classpath
.springBeans
.settings/
target/

#IntelliJ Stuff
.idea
*.iml
*.eml

*.log
platform.log*
iqiyi.log*

service/src/test/resources/send*.properties
service/src/test/java/com/huotu/verification/service/SendTest*.java
